<label class="Checkbox {{ classes|default('') }} {{ error ? 'error'  : ''}}">
  <input type="checkbox"
         name='{{ name }}'
         value='{{ value }}'
         {% if disabled %}disabled{% endif %}
         {% if checked %}checked{% endif %}
  >
  <div class="flex items-center justify-center checkmark">
    <span class="w-[10px] h-[10px] text-white">{{ source("/icons/check.svg") }}</span>
  </div>
  <span>{{ label }}</span>
</label>